= form_for(@quote) do |f|
  - if @quote.errors.any?
    #error_explanation
      %h2
        = pluralize(@quote.errors.count, "error")
        = "prohibited this quote from being saved:"

      %ul
      - @quote.errors.full_messages.each do |msg|
        %li
          = msg
  .field
    = f.label "Что пишем"
    %br
    = f.text_field :text, :size => 100
  %br
  =link_to "Может, это из книги?", "#",{:class => "notice", :id=>"book-notice"}
  
  .field-hidden{:style => "display:none;", :id => "book-field-hidden"}
    = f.label "Источник (фильм, книга, etc  — название, например)"
    %br
    = f.text_field :book_title, data: {autocomplete_source: Book.order(:title).map(&:title)}

  %br
  =link_to "Ах да, теги...", "#",{:class => "notice", :id => "tag-notice"}
  .field-hidden{:style => "display:none;", :id => "tag-field-hidden"}
    =f.text_field :tag_tokens, data: {autocomplete_source: Tag.order(:keyword).map(&:keyword)}
          

  .actions
    = f.submit "В молескин", {:class => "submit"}
