= form_for(@quote) do |f|
  - if @quote.errors.any?
    #error_explanation
      %h2
        = pluralize(@quote.errors.count, "error")
        = "prohibited this quote from being saved:"

      %ul
      - @quote.errors.full_messages.each do |msg|
        %li
          = msg
  .field
    = f.label "Что пишем"
    %br
    = f.text_field :text, :size => 100
  %br
  =link_to "Может, это из книги?", "#",{:class => "notice", :id=>"book-notice"}
  
  .field-hidden{:style => "display:none;", :id => "book-field-hidden"}
    = f.label "Книга (название, например)"
    %br
    = f.collection_select :book_id, Book.all, :id, :title, :prompt => true

  %br
  =link_to "Ах да, теги...", "#",{:class => "notice", :id => "tag-notice"}
  .field-hidden{:style => "display:none;", :id => "tag-field-hidden"}
    =f.text_field :tag_tokens,{:id => "quote_tag_tokens"}
          

  .actions
    = f.submit "В молескин", {:class => "submit"}
