.right-content
  = link_to 'Добавить ещё', new_quote_path, {:id=>"add-quote", :class => "red-dressed"}
.clearfix
.left-content
  -if @tag.present?
    ="##{@tag.keyword}"

.quote-list
  - @quotes.each do |quote|
    .text
      = quote.text
    .clearfix
    - unless params[:tag].present?
      .bottom
        .likes
          = form_for quote, :url => :like, :remote => true, :html => {:id=>"quoteform_#{quote.id}",:class => "vote-counter", :data => {:type => :html, :target => "#{quote.id}"}} do |f|
            = f.hidden_field :id, :value => quote.id
            = link_to "", "#", :class => "like-quote", :onclick=>"$('#quoteform_#{quote.id}').submit()"
        .points
          = render "likes/like", :quote => quote

        .tags
          - quote.tags.each do |tag|
            =link_to "##{tag.keyword}", quotes_path(:tag => tag.id)
      .clearfix

.clearfix