%div{:class=> "sticker-back #{color}"}
  .sticker-text
    =sticker.quote.text if sticker && sticker.quote
  .trash
    = link_to '', sticker, confirm: 'Are you sure?', method: :delete
  .clearfix
  .sticker-color 
    = text_field_tag "color","", {:size => 0, :class=>"izzyColor #{color}", :id=>"color#{sticker.id}"}