<p id="notice"><%= notice %></p>

<p>
  <b>Quote:</b>
  <%= @sticker.quote_id %>
</p>

<p>
  <b>Color:</b>
  <%= @sticker.color %>
</p>

<p>
  <b>Font:</b>
  <%= @sticker.font %>
</p>

<p>
  <b>Font-size:</b>
  <%= @sticker.font-size %>
</p>


<%= link_to 'Edit', edit_sticker_path(@sticker) %> |
<%= link_to 'Back', stickers_path %>
