%p#notice
  = notice

.img
  = image_fu(@source.image)

%h3.book-title
  = @book.author.name unless @book.author.blank?
%h2.book-title
  = @book.title
  
%table
  - @book.quotes.each do |quote|
    %tr
      %td.quote
        = quote.text

= link_to 'Пойдем назад', quotes_path