= semantic_form_for [:admin, @mindmap] do |f|
  = f.inputs "General" do
    = f.input :title

  - f.object.build_image unless f.object.image
  = f.inputs "Image", :for => :image do |f_i|
    - if f_i.object.image
      %li= image_fu(f.object.image)
    = f_i.input :image, :as => :file

  = f.buttons